/**
*  ===== Resets ====
*
**/
body, headeer, footer, ul, li,{
    padding:0px;
    margin:0px;

}
/**
*  ===== Clearfix ====
*
**/
.clearfix{
    display:inline-block;
}
.clearfix:after{
    content: " ";
    font-size:0;
    display:block;
    clear:both;
    height:0;  
}
/**
*  ===== Common elements ====
*
**/
[class*='col-']{
    float:left;
    padding:10px;
    margin-top:.5%;
    margin-bottom:.5%;
    
}
.grid{
    width:100%;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

/**
*  ===== 16 Base Grid ====
*
**/
.col-1-16{
    width:3.25%;
}
.col-2-16{
    width:9.5%;
}
.col-3-16{
    width:15.75%;
}
.col-4-16{
    width:22%;
}
.col-5-16{
    width:28.25%;
}
.col-6-16{
    width:35.5%;
}
.col-7-16{
    width:40.75%;
}
.col-8-16{
    width:47%;
}
.col-9-16{
    width:56%;
}
.col-10-16{
    width:59.5%;
}
.col-11-16{
    width:65.75%;
}
.col-12-16{
    width:72%;
}
.col-13-16{
    width:78.25%;
}
.col-14-16{
    width:84.5%;
}
.col-15-16{
    width:90.75%;
}
.col-16-16{
    width:97%;
}
.col-16-16m{
    width:100%;
    margin-left:0px;
}
/**
*  ===== Push ====
* (not sure if the margin should be added to the push or not....)
**/
.pushm{
    margin-left:3.25%;
}
.push1{
    margin-left:6.25%;
}
.push2{
    margin-left:9.5%;
}
.push3{
    margin-left:15.75%;
}
.push4{
    margin-left:22%;
}
.push5{
    margin-left:28.25%;
}
.push6{
    margin-left:35.5%;
}
.push7{
    margin-left:40.75%;
}
.push8{
    margin-left:47%;
}
.push9{
    margin-left:53.25%;
}
.push10{
    margin-left:59.5%;
}
.push11{
    margin-left:65.75%;
}
.push12{
    margin-left:72%;
}
.push13{
    margin-left:78.25%;
}
.push14{
    margin-left:84.5%;
}
.push15{
    margin-left:90.75%;
}
.push16{
    margin-left:97%;
}

/**
*===== Mobile Version ====
*
**/
@media all and (max-width: 768px) {


	.col-1-16, .col-2-16, .col-3-16, .col-4-16, .col-5-16, .col-6-16, .col-7-16, .col-8-16, .col-9-16, .col-10-16, .col-11-16, .col-12-16, .col-13-16, .col-14-16, .col-15-16, .col-16-16{
		float: none;
		width: 99%;
        margin-left:0;
	}
    .push1, .push2, .push3, .push4, .push5, .push6, .push7, .push8, .push9, .push10, .push11, .push12, .push13, .push14, .push15, .push16{
        margin-left:0;
        
    }
}
