/**
*==== Resets ====
*
**/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,
ol, ul, li,
fieldset, form, label, legend,
nav, img
 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
body{
   background-image:url(http://tera.enmasse.com/datastore/images/2012/10/08/23/35/36/873/Argonea_Concept.jpg);
}

.box{
    border:1px solid #666666;
    padding:0px;
    margin:0px;
    margin-bottom:15px;
}
.box-hd{
    background-image: url('http://www.scenicreflections.com/files/Dark_and_Silver_Piecli_Texture__Wallpaper_cn17y.jpg');
    color:white;
    padding:5px;
}
.box-bd{
    padding:15px;
    padding-top:0px;
}
.bodycontainer{
    width:1100px;
    border:1px solid blue;
    padding:0px;
    background: rgba(0, 0, 0, 0.6);
    color:white;
}
.hlist li{
    list-style: none;
    padding:10px;
    padding-left:20px;
    float:left;

}
.hlist a{
    color:white;
    text-decoration:none;
    font-size:25px;
}
.masthead-nav{
    background-image: url('http://www.scenicreflections.com/files/Dark_and_Silver_Piecli_Texture__Wallpaper_cn17y.jpg');
    margin:0px;
}
.masthead{
    margin:0px;
    padding:0px;
    
}
.masthead-hd{
    background-image: url('http://www.scenicreflections.com/files/Dark_and_Silver_Piecli_Texture__Wallpaper_cn17y.jpg');
    margin:0px;
}
.block{
    display:block;
    width:1080px;
    
}
.jobimg{
    height:35px;
    width:35px;
    vertical-align:middle
}
.update{
    border-bottom: 1px #666666 solid;
}
.media{
    padding:10px;
    margin:15px;
    display:block;
}
.media-img{
    float:left;
    margin-right:10px;
}
.media-bd{
    
}
.media-bd-heading{
    color:deepskyblue;
}
.avatar{
    height:70px;
    width:100px;
}
.media-bd-heading{
    font-size:25px;
}
.postby{
    font-size:11px;
    color:deepskyblue;
}
.banner{
    margin:0px;
}
